<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
i am using template first time . my name is aditi
{{ name }} is from {{ place }}
<h1> welcome to the text analyzer</h1>
<form  action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; height: 106px; width: 650px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove puncutation<br>
     <input type="checkbox" name="capitalize">Change into capital<br>
    <input type="checkbox" name="newlineremover">Remove new line<br>
    <input type="checkbox" name="extraspaceremover">Remove extra spaces<br>
    <button type="submit" >analyze text</button>
</form>


</body>
</html>